---
# MySQL root password
MYSQL_ROOT_PASSWORD: secret
# Database password of Identity service
KEYSTONE_DBPASS: secret
# Shared secret between Keystone and other OpenStack services
KEYSTONE_ADMIN_TOKEN: secret
# Password of user demo
DEMO_PASS: secret
# Password of user admin
ADMIN_PASS: secret
# Database password for Image Service
GLANCE_DBPASS: secret
# Password of Image Service user glance
GLANCE_PASS: secret
# Database password for Compute service
NOVA_DBPASS: secret
# Password of Compute service user nova
NOVA_PASS: secret
# Database password for the dashboard
DASH_DBPASS: secret
# Database password for the Block Storage service
CINDER_DBPASS: secret
# Password of Block Storage service user cinder
CINDER_PASS: secret
# Database password for the Networking service
NEUTRON_DBPASS: secret
# Password of Networking service user neutron
NEUTRON_PASS: secret
# Database password for the Orchestration service
HEAT_DBPASS: secret
# Password of Orchestration service user heat
HEAT_PASS: secret
# Database password for the Telemetry service
CEILOMETER_DBPASS: secret
# Password of Telemetry service user ceilometer
CEILOMETER_PASS: secret
# Database password of Database service
TROVE_DBPASS: secret
# Password of Database Service user trove
TROVE_PASS: secret
